body{
    font-family: 'Nunito', sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 60%;
}

.header,
.main,
.footer{
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 15px;
}

.main{
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.options{
    display: flex;
}

.sketcher{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 384px;
    height: 384px;
}

.grid-container{
    display: grid;
    width: inherit;
    height: inherit;
}

.cell{
    color: white;
}

.cell:hover{
    background-color: black;
    transform: scale(1.05);
}